<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoey.mapper.UserMapper">
  <insert id="addUser">
     insert into user(username,password,name,tel,email) values
     (#{username},#{password},#{name},#{tel},#{email})
  </insert>
  
  <select id="find" resultType="User">
     select * from user where username=#{0} and password=#{1}
  </select>

</mapper>